body {
  padding-top: 5rem;
  background-color: #eaeaea;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.mycolpad {
  padding: 2rem;
  background-color: white;
}

.mycomprow {
  background-color: white;
}

.myheader {
  font-family: serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #0bada6;
}

.myheader2 {
  font-family: serif;
  font-size: 2.2rem;
  font-weight: bold;
  color: #0bada6;
}

.myheader3 {
  font-family: serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0bada6;
  text-align: center;
}

.mypara {
  padding-top: 1rem;
  font-size: 1.1rem;
  line-height: 2.2rem;
  color: #5b5b5b;
}

.navbar {
  min-height: 80px;
}

.mynavbarbackground {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .mynavbarbackground {
    background-color: #0bada6;
  }
}

.navbar-brand.abs
    {
        position: absolute;
/*        width: 30%; */
        left: 10%;
        text-align: left;
    }


.navbar-brand.mycol
    {
        background-color: #0bada6;
        color: white;
        font-weight: bold;
        font-family: serif;
        padding: 10px;
        font-size: 40px;
    }

@media screen and (max-width: 1000px) {
  .myimgx {
    width: 25%;
  }
  .myimgxy {
    width: 100%;
  }
  .myregion {}
}

@media screen and (min-width: 1000px) {
  .myimgx {
    width: 50%;
  }
  .myimgxy {
    width: 45%;
  }
  .myregion {
    width: 95%;
    margin: 0 auto;
  }
}